.calculator {
    max-width: 320px;
    padding-bottom: 10px;
    margin: 50px auto;
    background-color: rgb(242, 255, 238);
    border: 1px solid black;
    border-radius: 5px;
}

.calc-display {
    margin: 10px;
    padding: 5px;
    background-color: #eee;
    border: 1px solid black;
    border-radius: 5px;
    text-align: right;
}

.btn {
    width: 90%;
    height: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid rgb(175, 175, 175);
    text-align: center;
}

.btn-number {
    width: 90%;
    margin: auto;
    padding: 0px;
}

.btn-row {
    width: 90%;
    margin: auto;
}