body {
    background-color: rgb(231, 255, 255);
}

h1 {
    text-align: center;
    font-family: playfair display;
}

.calculator {
    max-width: 320px;
    padding-bottom: 10px;
    margin: 50px auto;
    background-color: rgb(211, 233, 255);
    border: 1px solid black;
    border-radius: 5px;
}

.calc-display {
    margin: 10px;
    padding: 5px;
    background-color: #eee;
    border: 1px solid black;
    border-radius: 5px;
    text-align: right;
}

.btn-num {
    width: 90%;
    height: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
    text-align: center;
    transition: 250ms ease-in-out;
}

.btn-num:hover {
    background-color: lightsalmon;
}

.btn-symbol {
    width: 90%;
    height: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
    text-align: center;
    transition: 250ms ease-in-out;
}

.btn-symbol:hover {
    background-color: lawngreen;
}

#btn-clear:hover {
    background-color: rgb(0, 174, 255);
}

.btn-number {
    width: 90%;
    margin: auto;
    padding: 0px;
}

.btn-row {
    width: 90%;
    margin: auto;
}

#btn-clear {
    width: 58px;
    margin-right: 7px;
    float: right;
}


